@charset "UTF-8";


body{
    background-color: bisque;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1{
    color: coral;
}

#principal{
    text-align: center;
}

h2{
    color: rgb(105, 50, 30);
}

.basico{
    color: rgb(103, 30, 105);
}

.intermediario{
    color: rgb(30, 80, 105);
}

.avancado{
    color: rgb(30, 105, 30);
}

.destaque{
    background-color: rgba(204, 255, 204, 0.505);
}