body{
    background-color: lightblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}
h1{
    color: rgb(0, 43, 123);
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: lightseagreen;
}
h2{
    color: steelblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
}